<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/assetfix_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AssetFix"
        tools:targetApi="31">
        <activity
            android:name=".CardDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".mobile.welcomepages.FirstInstallation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mobile.welcomepages.FeaturePage"
            android:label="Application Features Manual" />
        <activity
            android:name=".mobile.auth.LogInpage"
            android:label="Log In Page" />
        <activity
            android:name=".mobile.auth.SignUpPage"
            android:label="Sign Up Page" />
        <activity
            android:name=".mobile.main.MainActivity"
            android:label="Dashboard" />

        <activity
            android:name=".mobile.carddetails.CardDetailsActivity"
            android:label="Card Details"/>

    </application>

</manifest>